/*
активный цвет #ffa153
select #fff7ed
border #f5f5f5
шрифт #787b7d
*/
.container {
  max-width: 600px;
  margin: 0 auto;
}

.main-header {
  text-align: center;
  font-size: 3rem;
}

h1 {
  text-align: center;
}
button.right {
  background-color: green;
}
button.wrong {
  background-color: red;
}
button.next {
  margin-top: 1.5rem;
  background-color: bisque;
}
img.question-image {
  max-width: 100%;
  max-height: 400px;
  margin: 0 auto;
  display: block;
}
.question-lines{
  gap: 12px;
  display: flex;
  width: 600px;
  margin: 0 auto;
  margin-top: 25px;
}
.question-lines div {
  height: 7px;
  background-color: white;
  flex: 1;
  border-radius: 20px;
  opacity: 50%;
  transition: opacity 1s;
}
.question-lines div.active{
  opacity: 100%;
}